<div data-v-d34a68aa="" data-v-00c52d54="" class="index-news index__margin">
    <h3 data-v-d34a68aa="" class="index-news__title">
        Our latest news
    </h3>
    <div data-v-d34a68aa="" class="index-news__container">
        <div data-v-7ecd4c5a="" data-v-d34a68aa="" class="index-news-carousel index-news__carousel">
            <!-- <div data-v-7ecd4c5a="" class="index-news-carousel__wrapper">
                <div data-v-3d1a4f76="" data-v-7ecd4c5a="" dir="ltr"
                    class="carousel index-news__mask slick-slider slick-initialized index-news">
                    <div data-v-3d1a4f76="" class="slick-list">
                        <div data-v-e4caeaf8="" data-v-3d1a4f76="" class="slick-track"
                            style="width: 3514px; opacity: 1; transform: translate3d(-502px, 0px, 0px);">
                            <div data-v-e4caeaf8="" tabindex="-1" data-index="-1" aria-hidden="true"
                                class="slick-slide slick-cloned" style="width: 502px;">
                                <div data-v-e4caeaf8="">
                                    <div data-v-7ecd4c5a="" data-v-e4caeaf8="" tabindex="-1"
                                        class="index-news-carousel__container"
                                        style="width: 100%; display: inline-block;"><img data-v-7ecd4c5a=""
                                            data-v-e4caeaf8=""
                                            src="assets/images/cc2db87dcf3f7c87dd518e0270d42d00d89d3bd470279126fe3613aa235b8b28.jpg"
                                            alt="SwapSpace introduces Guardex.io as its new partner" loading="lazy"
                                            class="index-news-carousel__image">
                                        <div data-v-7ecd4c5a="" data-v-e4caeaf8="" class="index-news-carousel__item">
                                            <div data-v-1ceefdfe="" data-v-7ecd4c5a="" class="index-news-item"
                                                data-v-e4caeaf8="">
                                                <h4 data-v-1ceefdfe="" class="index-news-item__title">
                                                    SwapSpace introduces Guardex.io as its new partner
                                                </h4>
                                                <div data-v-1ceefdfe="" class="index-news-item__date-time">
                                                    27 Jul 2024 ◦ 3 min
                                                </div>
                                                <div data-v-1ceefdfe="" class="index-news-item__subtitle">
                                                    SwapSpace and Guardex.io are now partners
                                                </div> <a data-v-1ceefdfe=""
                                                    href="/news/swapspace-introduces-guardexio-as-its-new-partner"
                                                    class="index-news-item__link" target="_blank">
                                                    Read more
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-v-e4caeaf8="" tabindex="-1" data-index="0" aria-hidden="false"
                                class="slick-slide slick-active slick-current" style="outline: none; width: 502px;">
                                <div data-v-e4caeaf8="">
                                    <div data-v-7ecd4c5a="" data-v-e4caeaf8="" tabindex="-1"
                                        class="index-news-carousel__container"
                                        style="width: 100%; display: inline-block;"><img data-v-7ecd4c5a=""
                                            data-v-e4caeaf8=""
                                            src="assets/images/cb3be504e4de6eda34385e9672e16d1fbdced16b8d8ccdabff447447305e14f8.png"
                                            alt="Anniversary contest: win with your creativity" loading="lazy"
                                            class="index-news-carousel__image">
                                        <div data-v-7ecd4c5a="" data-v-e4caeaf8="" class="index-news-carousel__item">
                                            <div data-v-1ceefdfe="" data-v-7ecd4c5a="" class="index-news-item"
                                                data-v-e4caeaf8="">
                                                <h4 data-v-1ceefdfe="" class="index-news-item__title">
                                                    Anniversary contest: win with your creativity
                                                </h4>
                                                <div data-v-1ceefdfe="" class="index-news-item__date-time">
                                                    12 Aug 2024 ◦ 2 min
                                                </div>
                                                <div data-v-1ceefdfe="" class="index-news-item__subtitle">
                                                    Join SwapSpace’s graphic challenge — keep the birthday party going
                                                    and win!
                                                </div> <a data-v-1ceefdfe=""
                                                    href="/news/anniversary-graphic-contest-win-with-your-creativity"
                                                    class="index-news-item__link" target="_blank">
                                                    Read more
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-v-e4caeaf8="" tabindex="-1" data-index="1" aria-hidden="true" class="slick-slide"
                                style="outline: none; width: 502px;">
                                <div data-v-e4caeaf8="">
                                    <div data-v-7ecd4c5a="" data-v-e4caeaf8="" tabindex="-1"
                                        class="index-news-carousel__container"
                                        style="width: 100%; display: inline-block;"><img data-v-7ecd4c5a=""
                                            data-v-e4caeaf8=""
                                            src="assets/images/2fdf70e32be177d527b5911f4c3f6e8edb90c28c62b8e33aace1bf4e9b90a977.png"
                                            alt="SwapSpace celebrates 5th anniversary" loading="lazy"
                                            class="index-news-carousel__image">
                                        <div data-v-7ecd4c5a="" data-v-e4caeaf8="" class="index-news-carousel__item">
                                            <div data-v-1ceefdfe="" data-v-7ecd4c5a="" class="index-news-item"
                                                data-v-e4caeaf8="">
                                                <h4 data-v-1ceefdfe="" class="index-news-item__title">
                                                    SwapSpace celebrates 5th anniversary
                                                </h4>
                                                <div data-v-1ceefdfe="" class="index-news-item__date-time">
                                                    5 Aug 2024 ◦ 3 min
                                                </div>
                                                <div data-v-1ceefdfe="" class="index-news-item__subtitle">
                                                    Join the SwapSpace birthday contest: showcase your creativity and
                                                    win 100 USDT
                                                </div> <a data-v-1ceefdfe=""
                                                    href="/news/swapspace-celebrates-anniversary"
                                                    class="index-news-item__link" target="_blank">
                                                    Read more
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-v-e4caeaf8="" tabindex="-1" data-index="2" aria-hidden="true" class="slick-slide"
                                style="outline: none; width: 502px;">
                                <div data-v-e4caeaf8="">
                                    <div data-v-7ecd4c5a="" data-v-e4caeaf8="" tabindex="-1"
                                        class="index-news-carousel__container"
                                        style="width: 100%; display: inline-block;"><img data-v-7ecd4c5a=""
                                            data-v-e4caeaf8=""
                                            src="assets/images/cc2db87dcf3f7c87dd518e0270d42d00d89d3bd470279126fe3613aa235b8b28.jpg"
                                            alt="SwapSpace introduces Guardex.io as its new partner" loading="lazy"
                                            class="index-news-carousel__image">
                                        <div data-v-7ecd4c5a="" data-v-e4caeaf8="" class="index-news-carousel__item">
                                            <div data-v-1ceefdfe="" data-v-7ecd4c5a="" class="index-news-item"
                                                data-v-e4caeaf8="">
                                                <h4 data-v-1ceefdfe="" class="index-news-item__title">
                                                    SwapSpace introduces Guardex.io as its new partner
                                                </h4>
                                                <div data-v-1ceefdfe="" class="index-news-item__date-time">
                                                    27 Jul 2024 ◦ 3 min
                                                </div>
                                                <div data-v-1ceefdfe="" class="index-news-item__subtitle">
                                                    SwapSpace and Guardex.io are now partners
                                                </div> <a data-v-1ceefdfe=""
                                                    href="/news/swapspace-introduces-guardexio-as-its-new-partner"
                                                    class="index-news-item__link" target="_blank">
                                                    Read more
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-v-e4caeaf8="" tabindex="-1" data-index="3" aria-hidden="true"
                                class="slick-slide slick-cloned" style="width: 502px;">
                                <div data-v-e4caeaf8="">
                                    <div data-v-7ecd4c5a="" data-v-e4caeaf8="" tabindex="-1"
                                        class="index-news-carousel__container"
                                        style="width: 100%; display: inline-block;"><img data-v-7ecd4c5a=""
                                            data-v-e4caeaf8=""
                                            src="assets/images/cb3be504e4de6eda34385e9672e16d1fbdced16b8d8ccdabff447447305e14f8.png"
                                            alt="Anniversary contest: win with your creativity" loading="lazy"
                                            class="index-news-carousel__image">
                                        <div data-v-7ecd4c5a="" data-v-e4caeaf8="" class="index-news-carousel__item">
                                            <div data-v-1ceefdfe="" data-v-7ecd4c5a="" class="index-news-item"
                                                data-v-e4caeaf8="">
                                                <h4 data-v-1ceefdfe="" class="index-news-item__title">
                                                    Anniversary contest: win with your creativity
                                                </h4>
                                                <div data-v-1ceefdfe="" class="index-news-item__date-time">
                                                    12 Aug 2024 ◦ 2 min
                                                </div>
                                                <div data-v-1ceefdfe="" class="index-news-item__subtitle">
                                                    Join SwapSpace’s graphic challenge — keep the birthday party going
                                                    and win!
                                                </div> <a data-v-1ceefdfe=""
                                                    href="/news/anniversary-graphic-contest-win-with-your-creativity"
                                                    class="index-news-item__link" target="_blank">
                                                    Read more
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-v-e4caeaf8="" tabindex="-1" data-index="4" aria-hidden="true"
                                class="slick-slide slick-cloned" style="width: 502px;">
                                <div data-v-e4caeaf8="">
                                    <div data-v-7ecd4c5a="" data-v-e4caeaf8="" tabindex="-1"
                                        class="index-news-carousel__container"
                                        style="width: 100%; display: inline-block;"><img data-v-7ecd4c5a=""
                                            data-v-e4caeaf8=""
                                            src="assets/images/2fdf70e32be177d527b5911f4c3f6e8edb90c28c62b8e33aace1bf4e9b90a977.png"
                                            alt="SwapSpace celebrates 5th anniversary" loading="lazy"
                                            class="index-news-carousel__image">
                                        <div data-v-7ecd4c5a="" data-v-e4caeaf8="" class="index-news-carousel__item">
                                            <div data-v-1ceefdfe="" data-v-7ecd4c5a="" class="index-news-item"
                                                data-v-e4caeaf8="">
                                                <h4 data-v-1ceefdfe="" class="index-news-item__title">
                                                    SwapSpace celebrates 5th anniversary
                                                </h4>
                                                <div data-v-1ceefdfe="" class="index-news-item__date-time">
                                                    5 Aug 2024 ◦ 3 min
                                                </div>
                                                <div data-v-1ceefdfe="" class="index-news-item__subtitle">
                                                    Join the SwapSpace birthday contest: showcase your creativity and
                                                    win 100 USDT
                                                </div> <a data-v-1ceefdfe=""
                                                    href="/news/swapspace-celebrates-anniversary"
                                                    class="index-news-item__link" target="_blank">
                                                    Read more
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-v-e4caeaf8="" tabindex="-1" data-index="5" aria-hidden="true"
                                class="slick-slide slick-cloned" style="width: 502px;">
                                <div data-v-e4caeaf8="">
                                    <div data-v-7ecd4c5a="" data-v-e4caeaf8="" tabindex="-1"
                                        class="index-news-carousel__container"
                                        style="width: 100%; display: inline-block;"><img data-v-7ecd4c5a=""
                                            data-v-e4caeaf8=""
                                            src="assets/images/cc2db87dcf3f7c87dd518e0270d42d00d89d3bd470279126fe3613aa235b8b28.jpg"
                                            alt="SwapSpace introduces Guardex.io as its new partner" loading="lazy"
                                            class="index-news-carousel__image">
                                        <div data-v-7ecd4c5a="" data-v-e4caeaf8="" class="index-news-carousel__item">
                                            <div data-v-1ceefdfe="" data-v-7ecd4c5a="" class="index-news-item"
                                                data-v-e4caeaf8="">
                                                <h4 data-v-1ceefdfe="" class="index-news-item__title">
                                                    SwapSpace introduces Guardex.io as its new partner
                                                </h4>
                                                <div data-v-1ceefdfe="" class="index-news-item__date-time">
                                                    27 Jul 2024 ◦ 3 min
                                                </div>
                                                <div data-v-1ceefdfe="" class="index-news-item__subtitle">
                                                    SwapSpace and Guardex.io are now partners
                                                </div> <a data-v-1ceefdfe=""
                                                    href="/news/swapspace-introduces-guardexio-as-its-new-partner"
                                                    class="index-news-item__link" target="_blank">
                                                    Read more
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-7ecd4c5a="" class="index-news-carousel__arrow-container"><svg data-v-7ecd4c5a=""
                        aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-left" role="img"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                        class="index-news-carousel__arrow svg-inline--fa fa-angle-left fa-w-10">
                        <path data-v-7ecd4c5a="" fill="currentColor"
                            d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
                            class=""></path>
                    </svg></div>
                <div data-v-7ecd4c5a=""
                    class="index-news-carousel__arrow-container index-news-carousel__arrow-container_right"><svg
                        data-v-7ecd4c5a="" aria-hidden="true" focusable="false" data-prefix="fas"
                        data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                        class="index-news-carousel__arrow svg-inline--fa fa-angle-right fa-w-10">
                        <path data-v-7ecd4c5a="" fill="currentColor"
                            d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
                            class=""></path>
                    </svg></div>
                <div data-v-7ecd4c5a="" class="index-news-carousel__dots-container">
                    <div data-v-7ecd4c5a="" class="index-news-carousel__dot index-news-carousel__dot_active"></div>
                    <div data-v-7ecd4c5a="" class="index-news-carousel__dot"></div>
                    <div data-v-7ecd4c5a="" class="index-news-carousel__dot"></div>
                </div>
            </div> -->
            <div class="slider">
                <div class="slides" [style.transform]="transform">
                    <div class="slide" *ngFor="let slide of slides; let i = index">
                        <img [src]="slide.image" alt="Slide {{ i + 1 }}">
                    </div>
                </div>
                <button (click)="prev()" class="nav-button prev">❮</button>
                <button (click)="next()" class="nav-button next">❯</button>
            </div>
            
        </div>
        <div data-v-d34a68aa="" class="index-news__item">
            <div data-v-1ceefdfe="" data-v-d34a68aa="" class="index-news-item">
                <h4 data-v-1ceefdfe="" class="index-news-item__title">
                    Anniversary contest: win with your creativity
                </h4>
                <div data-v-1ceefdfe="" class="index-news-item__date-time">
                    12 Aug 2024 ◦ 2 min
                </div>
                <div data-v-1ceefdfe="" class="index-news-item__subtitle">
                    Join SwapSpace’s graphic challenge — keep the birthday party going and win!
                </div> <a data-v-1ceefdfe="" href="/news/anniversary-graphic-contest-win-with-your-creativity"
                    class="index-news-item__link" target="_blank">
                    Read more
                </a>
            </div>
        </div>
    </div>
</div>